@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto", sans-serif;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
}

#main-page {
  height: 100vh;
  width: 100vw;
  background-color: #272727;
  color: #dfdfdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 600px;
  padding: 0 2em;
  text-align: center;
  /* background-color: rgb(0, 143, 143); */
}

#game-rules h2 {
  margin-bottom: 1em;
  font-size: 300%;
}

#game-rules p {
  font-weight: 300;
  font-size: 130%;
  margin-bottom: 60px;
}

#play {
  margin: 0 auto;
  background-color: #d33f49;
  border: none;
  border-radius: 5px;
  font-size: 230%;
  color: white;
  padding: 0.4em 1em;
  transition: background-color 0.2s ease;
}

#play:hover {
  background-color: #b1353e;
  cursor: pointer;
}

.game-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scores {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
  margin-bottom: 3em;
}

.player-score,
.computer-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 500px; */
}

.winner {
  font-size: 50px;
}

.hands {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 200px 0;
}

.player-hand,
.computer-hand {
  width: 300px;
}

.computer-hand {
  transform: rotateY(180deg);
}

.options {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #d33f49;
  border: none;
  border-radius: 5px;
  font-size: 130%;
  color: white;
  padding: 0.4em 2em;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  font-weight: 300;
}

button:hover {
  background-color: #b1353e;
  color: hsl(210, 14, 31);
  cursor: pointer;
}

.hide {
  display: none;
}
